:root {
  --primary-color: #0074e4;
  --primary-color-dark: #d41d45;
  --secondary-color: #ff6600;
  --background-color: #f0f0f0;
  --background-color-dark: #374151;
  --text-color: #1F2937;
  --text-color-dark: #e5e7eb;
  --contact-bc: #dbdfe7;
  --contact-bc-dark: #4A5363;
}

body {
  background-color: var(--background-color);
  font-family: "Computer Modern Sans", sans-serif;
  /* font-family: 'CMUSans', sans-serif; */
  font-size: 18px;
  color: var(--text-color);
  margin: 0;
  /* font-family: sans-serif; */
  /* background: #f8f8f8; */
}

